<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gssflyaway.mobilecourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="66ec15dfd63e2db95bad96bf99308409" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReservationDetailActivity"
            android:label="@string/reservation_detail" />
        <activity
            android:name=".activity.ReservationActivity"
            android:label="@string/reservation" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/action_sign_in" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/action_sign_up" />
        <activity
            android:name=".activity.AMapActivity"
            android:label="@string/navi" />

        <activity android:name=".activity.ButtonPopupWindowActivity"
            android:theme="@style/MyDialogStyleBottom"  />

        <activity android:name=".activity.PhoneNumberChangeActivity"></activity>


    </application>

</manifest>
